/* CustomCard.css */
.ag-format-container {
  width: 100%;
  margin: 10px auto;
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}


.ag-courses-item_link {
  display: block;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_content {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(25);
}

.ag-courses-item_title {
  min-height: 72px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  z-index: 2;
  position: relative;
  font-size: 24px;
  align-content: space-between;
}

.ag-courses-item_content{
  font-size: 16px;
  z-index: 2;
  position: relative;
}


.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color:  #2E186A;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.8s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}
